#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title">
     Weather Top
    </p>
    <p>
     Select Dashboard or About
    </p>
    <div class="tags has-addons is-centered my-5">
        <span class="tag has-background-danger is-large is-uppercase has-text-weight-bold has-text-white m-0"> Select Dashboard or </span>
        <span class="tag is-info is-large has-text-weight-bold is-uppercase has-text-weight-bold  has-text-white m-0"> About</span>
    </div>
    <p class = "image">
        <img src="public/images/watchTower.png">
    </p>
</div>
